.products{

    text-anchor: middle;
    background-color: rgb(14, 172, 119);
    border: 1px solid rgb(8, 77, 59);
    width: 80%;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgb(12, 12, 12);
}

.panelsProducts{
    background-color: rgb(80, 116, 87);
}